
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">AGENDAR</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label>Fecha Agenda</label>
            <div class="dropdown">
                <a  class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                    {{fechaAgendada | date:'dd-MM-yyyy hh:mm'}}<span class="glyphicon glyphicon-calendar"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker data-ng-model="fechaAgendada" data-datetdadaimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
                </ul>
            </div>
            <br>
            Observación<br>
            <textarea rows="4" ng-model="observacion" cols="30" style="margin: 0px; width: 432px; height: 112px;"></textarea><br>
            Contacto<br>
            <br>
            <select></select>   <button type="button" class="btn btn-default btn-xs" ng-click="open('sm','template/gestion_modal/contacto_modal.html')"><span class="glyphicon glyphicon-plus"></span></button>

        </div>
        <div class="col-md-6">
            <label>Documentos Seleccionados</label>
            <table style="padding-top: 5px;overflow-x: auto" class="table">
                <table id="tabla_doc_seleccionados" class="table">
                    <thead>
                    <tr>
                        <th>Nª Documento</th>
                        <th>Monto</th>
                        <th>Fecha Vcto.</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="documento in documentos">
                        <td>{{documento.numDoc}}</td>
                        <td>{{documento.monto}}</td>
                        <td>{{documento.fechaVencimiento}}</td>
                    </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
