
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">AGENDAR</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label>Fecha Agenda</label>
            <select style="width: 50px;padding-right: 5px" class="input-sm">
                <option>dd</option>
            </select>
            <select style="width: 50px;padding-right: 5px" class="input-sm">
                <option>mm</option>
            </select>
            <select style="width: 50px;padding-right: 5px" class="input-sm">
                <option>yyyy</option>
            </select><br><br>
            <label>Hora Agenda</label>
            <select style="width: 50px;padding-right: 5px" class="input-sm">
                <option>HH</option>
            </select>
            <select style="width: 50px;padding-right: 5px" class="input-sm">
                <option>MM</option>
            </select><br>
            Observación<br>
            <textarea rows="4" cols="30" style="margin: 0px; width: 432px; height: 112px;"></textarea><br>
            Contacto<br>
            <input type="text" class="input-lg" /><br>
            Cargo<br>
            <input type="text" class="input-lg" />
        </div>
        <div class="col-md-6">
            <label>Documentos Seleccionados</label>
            <table style="padding-top: 5px;overflow-x: auto" class="table">
                <table id="tabla_doc_seleccionados" class="table">
                    <thead>
                    <tr>
                        <th>Nª Documento</th>
                        <th>Monto</th>
                        <th>Fecha Vcto.</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="documento in documentos">
                            <td>{{documento.numDoc}}</td>
                            <td>{{documento.monto}}</td>
                            <td>{{documento.fechaVencimiento}}</td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
