
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">AGENDAR</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <label>Fecha Agenda</label>

            <p class="input-group">
                <input type="text" class="form-control" ng-change="changed()" datepicker-popup="{{format}}" ng-model="fechaAgendada" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

            <p class="input-group">
                <timepicker ng-model="fechaAgendada" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </p>

            {{fechaAgendada}}
            <br>
            Observación<br>
            <textarea rows="4" cols="30" style="margin: 0px; width: 432px; height: 112px;"></textarea><br>
            Contacto<br>
            <input type="text" class="input-lg" /><br>
            Cargo<br>
            <input type="text" class="input-lg" />
        </div>
        <div class="col-md-6">
            <label>Documentos Seleccionados</label>
            <table style="padding-top: 5px;overflow-x: auto" class="table">
                <table id="tabla_doc_seleccionados" class="table">
                    <thead>
                    <tr>
                        <th>Nª Documento</th>
                        <th>Monto</th>
                        <th>Fecha Vcto.</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="documento in documentos">
                            <td>{{documento.numDoc}}</td>
                            <td>{{documento.monto}}</td>
                            <td>{{documento.fechaVencimiento}}</td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
