
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">GESTI&Oacute;N</h3>
</div>
<div class="modal-body" >
    <div class="row">
        <div class="col-lg-11">
            <table style="padding-top: 5px;overflow-x: auto" class="table">
                <tr>
                    <th>Nª Documento</th>
                    <th>Monto</th>
                    <th>Fecha Vcto.</th>
                    <th>Validar</th>
                    <th>Recaudar</th>
                    <th>Contingencia</th>
                    <th>Tipo Contingencia</th>
                    <th>Comentario</th>
                </tr>
                <tr ng-repeat="documento in documentos">
                    <td>{{documento.numDoc}}</td>
                    <td>{{documento.monto}}</td>
                    <td>{{documento.fechaVencimiento}}</td>
                    <td><input type="checkbox" ng-change="validarCheck('validar');" ng-model="documento.validar"/></td>
                    <td><input type="checkbox" ng-change="validarCheck('recaudar');" ng-model="documento.recaudar"/></td>
                    <td><input type="checkbox" ng-change="validarCheck('contingencia');" ng-model="documento.contingencia" /></td>
                    <td>
                        <select ng-options="contingencia.contingencia for contingencia in $parent.contingencias">
                            <option value="">Seleccione Contingencia</option>
                        </select>
                    </td>
                    <td><input type="text" ></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label>Observación</label><br>
            <textarea class="" rows="4" cols="35" style="margin: 0px; width: 820px; height: 86px;"></textarea><br>
            <label>Contacto</label><br>
            <input type="text" class="input-lg"/><br>
            <label>Cargo</label><br>
            <input type="text" class="input-lg"/>
        </div>
    </div>
</div>
<div class="modal-footer" >
    <button type="button" class="btn btn-primary" ng-click="guardar_gestion()">Guardar</button>

    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
