<form name="form">
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">GESTI&Oacute;N</h3>
</div>
<div class="modal-body" >
    <div class="row">
        <div class="col-lg-11">
            <table style="padding-top: 5px;overflow-x: auto" class="table">
                <tr>
                    <th>Nª Documento</th>
                    <th>Monto</th>
                    <th>Fecha Vcto.</th>
                    <th>Validar</th>
                    <th>Recaudar</th>
                    <th>Contingencia</th>
                    <th>Tipo Contingencia</th>
                    <th>Comentario</th>
                </tr>
                <tr ng-repeat="documento in documentos">
                    <td>{{documento.numDoc}}</td>
                    <td>{{documento.monto}}</td>
                    <td>{{documento.fechaVencimiento}}</td>
                    <td><input type="checkbox" ng-change="validarRecaudar();" ng-model="documento.validar"/></td>
                    <td><input type="checkbox" ng-change="validarRecaudar();" ng-model="documento.recaudar"/></td>
                    <td><input type="checkbox" ng-change="validarContingencia();" ng-model="documento.contingencia" /></td>
                    <td>
                        <select ng-show="documento.contigencia" ng-options="contingencia.contingencia for contingencia in contingencias">
                            <option value="">Seleccione Contingencia</option>
                        </select>
                    </td>
                    <td><input type="text" ></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="observacion">Observación</label>
            <textarea name="observacion" id="observacion" class="" ng-model="$parent.observacion" rows="4" cols="35" ></textarea><br>
        </div>
        <div class="col-md-5">
            <label for="contacto">Contacto</label>
            <select name="contacto" id="contacto" ng-options="contacto.nombre + ' ' + contacto.cargo for contacto in contactos | orderBy:nombre" ng-model="contactoSeleccionado">
            </select>
            <button type="button" class="btn btn-default btn-xs" ng-click="open('sm','template/gestion_modal/contacto_modal.html')"><span class="glyphicon glyphicon-plus"></span></button>
        </div>

    </div>
</div>
<div class="modal-footer" >
    <button type="button" class="btn btn-primary" ng-click="guardar_gestion()">Guardar</button>

    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>