<div id="cuerpo">
    <div class="row">
        <div class="row" style="height: 120px;">
            <fieldset style="float:left;height: 178px;" class="col-md-8">
                <div class="col-md-5">
                    <label>Rut : {{ cliente.rutCliente | rut }}</label><br>
                    <label>Razón Social : {{ cliente.nombreCliente }}</label><br>
                    <label>Clasificación de riesgo : {{cliente.clasificacionRiesgo}} </label>
                    <label>Canal : {{cliente.canalVenta }}</label>
                    <label>Condición de pago : {{cliente.condicionPago }}</label>
                    <label>Pedidos en progreso : {{cliente.pedidosProceso}} </label>
                    <label>Estado Cliente : {{!cliente.bloqueo ? 'DESBLOQ' : 'BLOQ'}}</label>
                </div>
                <div class="col-md-5">
                    <label>Estado linea : {{cliente.estadoLinea }}</label>
                    <label>Linea de Crédito : {{cliente.lineaCredito | currency}}</label>
                    <label>Linea de Crédito Utilizada : {{cliente.lineaCreditoUtilizada | currency}}</label>
                    <label>Linea de Crédito Disponible: {{cliente.lineaCreditoDisponible | currency}}</label>
                    <label>Tipo Seguro : {{cliente.tipoSeguro}}</label>
                    <label>Vigencia : {{cliente.vigencia}}</label>
                    <label>Monto Seguro: {{cliente.montoSeguro | currency  }}</label>
                    <label>Monto Seguro UF: {{cliente.montoSeguroUF }}</label>
                </div>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset>
                <label>Total Deuda : {{ carteraCliente.total | currency}}</label>
                <table style="padding-top: 5px;" class="table">
                    <tr>
                        <th ng-repeat="tramo in tramos">
                            {{ tramo.tramo }}
                        </th>
                    </tr>
                    <tr>
                        <td ng-repeat="tramo in carteraCliente.tramosList">
                            {{tramo.monto | currency}}
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<fieldset>
    <legend>CONTACTOS COBRANZA</legend>
    <div style="text-align: right;">
        <a href="http://zurb.com/university/responsive-design" class="button secondary">Llamar</a>
    </div>
    <div style="padding-left:15px;padding-left: 15px;">
        <table style="width: 100%" class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer cont</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer Co</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>

<div>
    <button class="btn btn-primary" ng-click="open('lg','template/gestion_modal/validar_modal.html')">Validar</button>
    <button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/agendar_modal.html')">Agendar</button>
    <button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/gestion_modal.html')">Gesti&oacute;n</button>
    <!--<button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/recaudar_modal.html')">Recaudar</button>-->
    <!--<button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/contingencia_modal.html')">Contingencia</button>-->
    <button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/bitacora_modal.html')">Bitacora</button>
    <button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/hitos_modal.html')">Hitos</button>
    <button type="button" class="btn btn-primary" ng-click="open('lg','template/gestion_modal/email_modal.html')">Email</button>
    <button type="button" class="btn btn-primary">Enviar Docs.</button>
</div>

<div id="cuerpo_inferior" style="padding-top: 10px;">
    <div style="padding-left:15px;padding-left: 15px;padding-right: 15px;">
        <table style="width: 100%" class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nº Documento</th>
                <th>Tipo</th>
                <th>Monto Factura</th>
                <th>Fecha Emisión</th>
                <th>Fecha Vcto.</th>
                <th>Días Vencido</th>
                <th>Vendedor</th>
                <th>Tramo</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="documento in documentos">

                <td style="text-align: center"><input type="checkbox" value="1" id="checkbox"/></td>
                <td>{{ documento.numDoc }}</td>
                <td>{{ documento.codigoTipo}}</td>
                <td>{{ documento.monto | currency }}</td>
                <td>{{ documento.fechaEmision }}</td>
                <td>{{ documento.fechaVencimiento }}</td>
                <td>{{ documento.diasVencidos | lessThanZero }}</td>
                <td>{{ documento.tramo}}</td>
                <td>{{ documento.vendedor }}</td>
                <td> </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>





<div id="contingencia" class="reveal-modal" data-reveal>
    <fieldset>
        <legend>CONTINGENCIA</legend>
        <div class="row" data-equalizer>
            <div class="large-5 columns">
                Tipo Contingencia
                <select style="width: 210px;padding-right: 5px">
                    <option>dd</option>
                </select><br>
                <label>Observación</label>
                <textarea rows="7">

                </textarea><br>
                <label>Contacto</label>
                <input type="text"/><br>
                <label>Cargo</label>
                <input type="text"/><br>
            </div>
            <div class="large-6 columns">
                <label>Documentos Seleccionados</label>
                <table style="padding-top: 5px;overflow-x: auto">
                    <tr>
                        <th>Al día</th>
                        <th>1-30 días</th>
                        <th>31-50 días</th>
                        <th>61-90 días</th>
                        <th>< 90 días</th>
                    </tr>
                    <tr>
                        <td>$000.000</td>
                        <td>$000.000</td>
                        <td>$000.000</td>
                        <td>$000.000</td>
                        <td>$000.000</td>
                    </tr>
                </table>
                <div style="text-align: right;">
                    <a href="#" class="button [tiny small large]">Aceptar</a>
                    <a href="#" class="button [tiny small large]">Cancelar</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div id="bitacora" class="reveal-modal" data-reveal>

</div>

<script></script>